
<h1> first syntax for ngIf</h1>

<h2 *ngIf="true"> *ngIf="true" </h2>

<button (click)="toggle()">Toggle display</button>

<h3 *ngIf="display; else elseBlock"> *ngIf="display; else elseBlock" is true </h3>
<ng-template #elseBlock>
    <h3>*ngIf="display; else elseBlock" is false </h3>
</ng-template>  

<h1> second syntax for ngIf</h1>
<h2>*ngIf="display; then thenBlock; else elseBlock2"</h2>

<div *ngIf="display; then thenBlock; else elseBlock2"></div>

<ng-template #thenBlock> 
    <h2>then block! if display is true </h2>
</ng-template>

<ng-template #elseBlock2 >
    <h2>else block2! if display is false</h2>
    
</ng-template>