input{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    height: 30px;
    width: 500px;
}

button{
    width: 500px;
    height: 30px;
    border-style: none;
    border-radius: 5px;
    font-size: 20px;
    background-color: rgb(146, 198, 243);
    color: azure;
}

.text-success{
    color: green;
}

.text-danger{
    color: red;
}

.text-special{
    font-style: italic;
}
