<h2> {{message}}</h2>
<h2> {{message | lowercase}}</h2>
<h2> {{message | uppercase}}</h2>
<h2> {{message | titlecase}}</h2>
<h2> {{name}}</h2>
<h2> {{name | slice:3}} </h2>
<h2> {{name | slice:2:5}} </h2>
<hr>
<h2> {{profile}} </h2>
<h2> {{profile  | json}}</h2>
<hr>
<h2> {{5.678 | number: '1.2-3'}} </h2> <!-- (minimum integer part).(minimum decimal part)-(maximum decimal part) -->
<h2> {{5.678 | number: '3.4-5'}} </h2>
<h2> {{5.678 | number: '3.1-2'}} </h2>
<h2> {{.25 | percent}} </h2>
<h2> {{.25 | currency}} </h2>
<h2> {{.25 | currency: 'GBP'}} </h2>
<h2> {{.25 | currency: 'GBP':'code'}} </h2>
<h2> {{50000 | currency: 'COP'}} </h2>

<h2> {{date}} </h2>
<h2> {{date | date:'short'}} </h2>
<h2> {{date | date:'shortTime'}} </h2>
<h2> {{date | date:'shortDate'}} </h2>

<h2> {{date | date:'medium'}} </h2>


